{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>


</head>
<body>


<form class="max-w-sm mx-auto" method="post">
    {% csrf_token %}
  <div class="mb-5">
    <div id="error" class="mb-4 text-white-500 bg-orange-400 w-[600px] rounded-lg p-2 shadow-md mt-5 ">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="bg-red-300 text-yellow-300">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}

  </div>
  <div class="mb-5">
    <label for="title" class="block mb-2 text-sm font-medium text-gray-700">Title</label>
    <input type="text" id="title" name="title" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
  </div>
  
  <div class="mb-5">
    <label for="category" class="block mb-2 text-sm font-medium text-gray-700">Category</label>
    <select id="category" name="category" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option value="general">General</option>
      <option value="sports">Sports</option>
      <option value="entertainment">Entertainment</option>
      <option value="politics">Politics</option>
      <option value="technology">Technology</option>
      <option value="health">Health</option>
      <option value="business">Business</option>
    </select>
  </div>
  
  <div class="mb-5">
    <label for="content" class="block mb-2 text-sm font-medium text-gray-700">Content</label>
    <textarea name="content" id="editor"></textarea>



  </div>
<div class="flex justify-center items-center text-center w-full h-10 bg-blue-900 m-3 rounded" >
    <button class="" type="submit" class="w-full bg-blue-500 ">Add Story</button>
</div>


  
</form>
    <script>
       
        CKEDITOR.replace('editor');
    </script>



  
</body>
</html>
